.options-select-container {
  width: 118px;
  height: 28px;
  .options-select {
    width: 100%;
    height: 100%;
    .ant-select-selection-item {
      background: none !important;
      font-family: PingFangSC-Regular !important;
      font-size: 12px !important;
      color: #ffffff !important;
    }

    .ant-select-selector {
      background: none !important;
      background-color: none !important;
      border-radius: 20px !important;
      border-radius: 20px !important;
      border: 1px solid;
      border-image-source: linear-gradient(136deg, #c046fa 0%, #8268f9 100%);
      border-image-slice: 1;
    }
  }
}
